# Base de datos (Neon)
DATABASE_URL=

# Auth (Clerk)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# API-Football (api-sports.io)
API_FOOTBALL_KEY=
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_LEAGUE_ID=1
API_FOOTBALL_SEASON=2026

# Torneo
NEXT_PUBLIC_TOURNAMENT_START=2026-06-11T19:00:00Z

# Pagos
NEXT_PUBLIC_APP_URL=http://localhost:3000
# Mercado Pago (Argentina)
MP_ACCESS_TOKEN=
# dLocal Go (resto de LatAm: Paraguay, Bolivia, etc.)
DLOCAL_GO_BASE_URL=https://api.dlocalgo.com
DLOCAL_GO_API_KEY=
DLOCAL_GO_SECRET_KEY=
